div[role=tooltip] {
    border-radius: 0.5rem;
    z-index: 10;
    opacity: 0.95;
}

input.text-center {
    text-align: center;
    
    &.is-invalid {
        text-indent: -1.8rem;
    }

    &:not(.is-invalid) {
        text-indent: -3.42rem;
    }
}