.greeting-container {
    height: 100%;
    text-align: center;

    .greeting-grid {

        position: absolute;
        top: 45%;
        left: 50%;
        width: fit-content;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .greeting-logo {
            font-size: 16em;
            text-align: center;
            line-height: 80%;
        }
    
        .greeting-text {
            font-size: 1.5em;
            text-align: center;
            color: white;
            margin-bottom: 42px;
        }

        .greeting-buttons {
            color: inherit;
        }
    }
}