.navbar {
    height: 100%;
    width: 100%;
    padding: 0px;

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%;

        a {
            display: block;
        }
    }
}