%common-inner {
    border: 1px solid;
    font-size: 1.25rem;
}

.tooltip-alert-primary {
    .tooltip {
        --bs-tooltip-bg: #cfe2ff;
    }
    
    .tooltip-inner {
        @extend %common-inner;
        --bs-tooltip-color: #084298;
        border-color: #b6d4fe;
    }
}

.tooltip-alert-secondary {
    .tooltip {
        --bs-tooltip-bg: #e2e3e5;
    }
    
    .tooltip-inner {
        @extend %common-inner;
        --bs-tooltip-color: #41464b;
        border-color: #d3d6d8;
    }
}

.tooltip-alert-success {
    .tooltip {
        --bs-tooltip-bg: #d1e7dd;
    }
    
    .tooltip-inner {
        @extend %common-inner;
        --bs-tooltip-color: #0f5132;
        border-color: #badbcc;
    }
}

.tooltip-alert-danger {
    .tooltip {
        --bs-tooltip-bg: #f8d7da;
    }
    
    .tooltip-inner {
        @extend %common-inner;
        --bs-tooltip-color: #842029;
        border-color: #f5c2c7;
    }
}

.tooltip-alert-warning {
    .tooltip {
        --bs-tooltip-bg: #fff3cd;
    }
    
    .tooltip-inner {
        @extend %common-inner;
        --bs-tooltip-color: #664d03;
        border-color: #ffecb5;
    }
}

.tooltip-alert-info {
    .tooltip {
        --bs-tooltip-bg: #cff4fc;
    }
    
    .tooltip-inner {
        @extend %common-inner;
        --bs-tooltip-color: #055160;
        border-color: #b6effb;
    }
}

.tooltip-alert-light {
    .tooltip {
        --bs-tooltip-bg: #fefefe;
    }
    
    .tooltip-inner {
        @extend %common-inner;
        --bs-tooltip-color: #636464;
        border-color: #fdfdfe;
    }
}

.tooltip-alert-dark {
    .tooltip {
        --bs-tooltip-bg: #d3d3d4;
    }
    
    .tooltip-inner {
        @extend %common-inner;
        --bs-tooltip-color: #141619;
        border-color: #bcbebf;
    }
}