.greeting-container {
    height: 100%;
    text-align: center;

    .greeting-grid {
        position: absolute;
        top: 45%;
        left: 50%;
        width: fit-content;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .greeting-logo {
            text-align: center;
            overflow: hidden;
            height: 234px;
            -webkit-user-select: none;
            user-select: none;
            
            a {
                color: inherit;
                text-decoration: inherit;
            }

            .logo {
                font-size: 16em;
                line-height: normal;
            }
        }
    
        .greeting-text {
            font-size: 1.5em;
            text-align: center;
            color: white;
        }

        .greeting-buttons {
            color: inherit;
        }
    }
}